<table>
    <thead>
        <tr>
            <th>image</th>
            <th>name</th>
        </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, size: "100x100", class: "img-circle pull-left profile-thumb" %></td>
        <td><%= user.name %></td>
        <td><%= link_to "Show", user_path(user)%></td>
      </tr> 
    <% end %>
    </tbody>
</table

